<!------------------------Footer---------------------------------> 
<footer>
    <div class="footer">
        <div class="container">
            <div class="fila">
                <div class="footer-col3">
                    <h3><a href="/all">CONTACTO</a></h3>
                     <ul>
                         <li>Ventas@DigitalHouseGames</li>
                         <li>338274057</li>
                         <li>Lunes a Domingo:</li>
                         <li>De 7:00 am a 11:00 pm</li>
                     </ul>
                 </div>
                <div class="footer-col3">
                    <h3>TIENDA</h3>
                     <ul>
                         <li>Lo más nuevo</li>
                         <li>Lo más comprado</li>
                         <li>Mejores ofertas</li>
                         <li>Preventas</li>
                     </ul>
                 </div>
                <div class="footer-col3">
                   <h3>SOBRE NOSOTROS</h3>
                    <ul>
                        <li>Aviso de privacidad</li>
                        <li>Politicas de devoluciones</li>
                        <li><a href="/all">¿Quiénes somos?</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - DigitalHouseGames</p>
        </div>
    </div>
</footer>