<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->
  <body>
    <!-- Header -->
	  <%- include('partials/header') %>
	  <!-- /Header -->

    <!--Comienza el banner-->
    <div id="banner">
        <img src="/images/banner.jpeg" id="imagen_banner">
    </div>
  </body>
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer --> 
</html>