<!DOCTYPE html>
<html>
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->

<!-- Header -->
<%- include('partials/header') %>
<!-- /Header -->
<body>
   <section class="section-login">
      <h1 class="title">Login</h1>
      <p class="banner-usuario">Accede a tu cuenta en DigitalHouseGames</p>
      <div class="form-container login">
          <form action="###" method="POST">
              <p>
                  <label class="label-1">
                      Email
                      <input type="text" name="email" placeholder="correo electronico" >
                  </label>
              </p>
              <p>
                  <label class="label-1">
                      Contraseña
                      <input type="password" name="password" placeholder="Contraseña">
                  </label>
              </p>
              <p>
                  <label class="label-2">
                      <input type="checkbox" name="remember">
                      Recordarme
                  </label>
              </p>
              <p class="buttons">
                 <button type="submit" class="action-button">Ingresar</button>
              </p>
              <p class="login-links">
                 <a href="#">Olvidé Contraseña</a>
                 <a href="/register">Crear cuenta</a>
              </p>
          </form>
      </div>
  </section>
</body>

<!------------------------Footer---------------------------------> 
<%- include('partials/footer') %>
<!-- /footer --> 
</html>