<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/css/styles_login.css">
</head>
<body>
    <div class="overlay">
        <form>
           <!--   con = Container  for items in the form-->
           <div class="con">
           <!--     Start  header Content  -->
           <header class="head-form">
              <h2>Log In</h2>
              <!--     A welcome message or an explanation of the login form -->
              <p>Accede a tu cuenta en DigitalHouseGames</p>
           </header>
           <!--     End  header Content  -->
           <br>
           <div class="field-set">
              <!--   user name -->
                 <span class="input-item">
                   <i class="fa fa-user-circle"></i>
                 </span>
                <!--   user name Input-->
                 <input class="form-input" id="txt-input" type="text" placeholder="@UserName" required>
              <br>
                   <!--   Password -->         
              <span class="input-item">
                <i class="fa fa-key"></i>
               </span>
              <!--   Password Input-->
              <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>
              <br>
        <!--        buttons -->
        <!--      button LogIn -->
              <button class="log-in"> Log In </button>
           </div>
          
        <!--   other buttons -->
           <div class="other">
        <!--      Forgot Password button-->
              <button class="btn submits frgt-pass">Forgot Password</button>
        <!--     Sign Up button -->
              <button class="btn submits sign-up">Sign Up 
        <!--         Sign Up font icon -->
              <i class="fa fa-user-plus" aria-hidden="true"></i>
              </button>
        <!--      End Other the Division -->
           </div>
        <!--   End Conrainer  -->
          </div>
          
          <!-- End Form -->
        </form>
        </div>
</body>

<!------------------------Footer---------------------------------> 
<footer>
   <div class="footer">
       <div class="container">
           <div class="fila">
               <div class="footer-col3">
                   <h3>CONTACTO</h3>
                    <ul>
                        <li>Ventas@DigitalHouseGames</li>
                        <li>338274057</li>
                        <li>Lunes a Domingo:</li>
                        <li>De 7:00 am a 11:00 pm</li>
                    </ul>
                </div>
               <div class="footer-col3">
                   <h3>TIENDA</h3>
                    <ul>
                        <li>Lo más nuevo</li>
                        <li>Lo más comprado</li>
                        <li>Mejores ofertas</li>
                        <li>Preventas</li>
                    </ul>
                </div>
               <div class="footer-col3">
                  <h3>SOBRE NOSOTROS</h3>
                   <ul>
                       <li>Sucursales</li>
                       <li>Aviso de privacidad</li>
                       <li>Politicas de devoluciones</li>
                       <li>¿Quiénes somos?</li>
                   </ul>
               </div>
           </div>
           <hr>
           <p class="copyright">Copyright 2021 - DigitalHouseGames</p>
       </div>
       
   </div>
</footer>
</html>