<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles_addProduct.css">
    <title>Añadir Producto</title>
</head>
<!--Comienza el Header-->

<!--Main-->
  <body>
    <main>
        <form class="form" method="post">
          <p>Nombre del producto: <input type="text" name="game_name"><br></p> 
          <p>Descripción del producto: 
              <br><textarea type="text" name="product_description" row="5" cols="100"></textarea><br>
          </p>
          <div class="box-price">
              <p>Precio Unitario: <input type="number" name="product_price"><br></p>
              <p>Cantidad Disponible: <input type="number" name="product_stock"><br></p>
          </div>
          <p>Categoria:
              <div class="category">
                  <span><input type="radio" name="product_category" value="C"> Consolas </span>
                  <span><input type="radio" name="product_category" value="A"> Accesorios </span>
                  <span><input type="radio" name="product_category" value="V"> Videojuegos </span>
              </div>
          </p>
          <p>Plataforma: 
              <div class="platform">
                  <span><input type="radio" name="platform" value="PS5"> Playstation 5</span>
                  <span><input type="radio" name="platform" value="PS4"> Playstation 4</span>
                  <span><input type="radio" name="platform" value="XboxOne"> Xbox One</span>
                  <span><input type="radio" name="platform" value="XboxSs"> Xbox Series S</span>
                  <span><input type="radio" name="platform" value="XboxSx"> Xbox Series X</span>
                  <span><input type="radio" name="platform" value="NSwitch"> Nintendo Switch</span>
              </div>
          </p>
          <p>Información Adicional
              <br><textarea name="product_review" rows="10" cols="100"> Si lo desea, escriba aquí la información adicional</textarea>
          </p>
          <p>
              <label>Cargar Imagenes</label><br>
              <input type="file" name="images[]" id="fileInput" multiple> 
          </p>
          <div class="boton-cargar">
              <input type="submit" name="submit" value="Cargar Producto"/>
          </div>
        </form>
    </main>    
</body>
<!------------------------Footer---------------------------------> 
<footer>
    <div class="footer">
        <div class="container">
            <div class="fila">
                <div class="footer-col3">
                    <h3>CONTACTO</h3>
                     <ul>
                         <li>Ventas@DigitalHouseGames</li>
                         <li>338274057</li>
                         <li>Lunes a Domingo:</li>
                         <li>De 7:00 am a 11:00 pm</li>
                     </ul>
                 </div>
                <div class="footer-col3">
                    <h3>TIENDA</h3>
                     <ul>
                         <li>Lo más nuevo</li>
                         <li>Lo más comprado</li>
                         <li>Mejores ofertas</li>
                         <li>Preventas</li>
                     </ul>
                 </div>
                <div class="footer-col3">
                   <h3>SOBRE NOSOTROS</h3>
                    <ul>
                        <li>Sucursales</li>
                        <li>Aviso de privacidad</li>
                        <li>Politicas de devoluciones</li>
                        <li>¿Quiénes somos?</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - DigitalHouseGames</p>
        </div>
    </div>
</footer>
</html>