<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles_productDetail.css">
    <title>Detalles del producto</title>
</head>
<header>

</header>
<body>
    <div class="contenedor-pequeno producto-unico">
        <div class="fila">
            <div class="col-2" id="izq">
                <img src="/static/images/Sekiro_2.jpg" width="100%" id="imgproducto" >
                <div class="imagenes-chiquitas-fila">
                    <div class="imagenes-chiquitas-columna">
                        <img src="/static/images/sekiro_3.jpg" class="imagen-chiquita" width="100%">
                    </div>
                    <div class="imagenes-chiquitas-columna">
                        <img src="/static/images/sekiro_4.jpg" class="imagen-chiquita" width="100%">
                    </div>
                    <div class="imagenes-chiquitas-columna">
                        <img src="/static/images/Sekiro_5.jpg" class="imagen-chiquita" width="100%">
                    </div>
                    <div class="imagenes-chiquitas-columna">
                        <img src="/static/images/Sekiro_2.jpg" class="imagen-chiquita" width="100%">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>Home / Sekiro</p>
                <h1>SEKIRO SHADOW DIE TWICE</h1>
                <p> Forja tu propio camino en busca de la venganza en una nueva aventura del desarrollador From Software, responsable de Bloodborne y la serie Dark Souls.</p>  
                <h4>$1,399.99</h4>

                <input type="number" value="1" min="1" max="100">
                <a href=# class="btn">Añadir al carrito</a>
            </div>
        </div>
    </div>
<div class="contenedor-pequeno">
    <div class="fila fila2">
        <h2>INFORMACIÓN ADICIONAL</h2>
    </div>
    <br>
    <p>Esta Edición juego del año ahora incluye contenido adicional:</p>
    <br>
     <p>- Recuerdo y Reto de fuerza: nuevos modos de desafío de jefe</p>
     <p>- Vestigios: deja mensajes y grabaciones de tus acciones para que otros jugadores las vean y califiquen</p>
     <p>- 3 aspectos desbloqueables</p>
     <br>
     <p>Juego del año - The Game Awards 2019</p>
     <p>Mejor juego de acción de 2019 - IGN</p>
     <p>Más de 50 premios y nominaciones</p>
     <br>   
     <p> Traza tu propio camino hacia la venganza en la galardonada aventura de FromSoftware, creadores de la saga Dark Souls.</p>
     <br>
     <p> En Sekiro™: Shadows Die Twice encarnas al 'lobo manco', un guerrero desfigurado y caído en desgracia que ha sido rescatado al borde de la muerte. Tras jurar proteger a un joven señor descendiente de un antiguo linaje, te conviertes en el objetivo de despiadados enemigos, entre ellos el peligroso clan Ashina. Cuando el joven señor sea capturado, nada te detendrá en tu peligrosa aventura por restituir tu honor, ni siquiera la muerte.</p>
     <br>  
     <p>Explora el Japón de la era Sengoku de finales del siglo XVI, un brutal periodo de constante conflicto, mientras te enfrentas a inconmensurables enemigos en un mundo oscuro y tortuoso. Despliega un arsenal de instrumentos protésicos letales y poderosas habilidades ninja, al mismo tiempo que combinas el sigilo, la verticalidad y transversalidad, y los viscerales combates cara a cara en una sangrienta confrontación.</p>
     <br>
     <p>Véngate. Restituye tu honor. Mata con ingenio.</p>

</div>
<br>
<br>
<div class="contenedor-pequeno">
    <div id="noc">
        <div class="col-3">
            <h3>VALORACIONES</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
                <div class="ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>

                </div>
            <br>
            <br>
            <br>
            </div>
        <div class="col-3">
                <h3>RESEÑAS</h3>
                    <div class="resena">
                    <span>Positivas</span>
                    <span>Negativas</span>
                    <span>Recientes</span>
                    </div>
                </div>
        <div class="col-3">
                    <h3>PREGUNTAS Y RESPUESTAS</h3>
                        <div class="pregunta">
                        <input type="text" name="preguntas" id="preguntas" placeholder="Realizar pregunta"></input></div>
                            <div class="fila3">
                                <div class="col-20">
                                    <i class="fas fa-arrow-circle-up"></i>
                                    <i class="fas fa-arrow-circle-down"></i>
                                   

                                </div>
                                <div class="col-21">
                                    <div class="por">
                                        <p class="por">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquid exercitationem in adipisci debitis odio cum a commodi id, inventore facilis quasi libero dolore maiores sapiente animi aliquam, quis nam.</p>
                                    </div>   
                                </div>
                            </div>
        
                    </div>

    </div>
</div>

<div class="contenedor-pequeno">
    <div class="fila fila7">
        <h2>LO MÁS NUEVO</h2>
        <p>Ver más</p>
    </div>
</div>

<div class="contenedor-pequeno">
    <div class="fila">
      <div class="col-4">
          <img src="/static/images/cyber.jpg">
          <h4>CYBERPUNK 2077</h4>
          <div class="rating2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <p>$699.99</p> 
      </div> 
      <div class="col-4">
          <img src="/static/images/re33.jpg">
          <h4>RESIDENT EVIL 3</h4>
          <div class="rating2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <p>$499.99</p>
      </div> 
      <div class="col-4">
          <img src="/static/images/red.jpg">
          <h4>RED DEAD REDEMPTION II </h4>
          <div class="rating2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
          </div>
          <p>$735.99</p>
      </div> 
       <div class="col-4">
          <img src="/static/images/gta.jpg">
          <h4>GRAND THEAFT AUTO V</h4>
          <div class="rating2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="far fa-star"></i>
          </div>
          <p>$551.99</p>
      </div> 
  </div>
<!-------Footer--> 
</div>
</body>
<footer>
    <div class="footer">
        <div class="container">
            <div class="fila">
                <div class="footer-col3">
                    <h3>CONTACTO</h3>
                     <ul>
                         <li>Ventas@DigitalHouseGames</li>
                         <li>338274057</li>
                         <li>Lunes a Domingo:</li>
                         <li>De 7:00 am a 11:00 pm</li>
                     </ul>
                 </div>
                <div class="footer-col3">
                    <h3>TIENDA</h3>
                     <ul>
                         <li>Lo más nuevo</li>
                         <li>Lo más comprado</li>
                         <li>Mejores ofertas</li>
                         <li>Preventas</li>
                     </ul>
                 </div>
                <div class="footer-col3">
                   <h3>SOBRE NOSOTROS</h3>
                    <ul>
                        <li>Sucursales</li>
                        <li>Aviso de privacidad</li>
                        <li>Politicas de devoluciones</li>
                        <li>¿Quiénes somos?</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - DigitalHouseGames</p>
        </div>
        
    </div>
</footer>
</html>










<!--------- Cambio de imagenes---------->

<script>
   var imgproducto= document.getElementById("imgproducto");
   var imgpequena= document.getElementsByClassName("imagen-chiquita");

   imgpequena[0].onclick=function(){
       imgproducto.src=imgpequena[0].src;
   }
   imgpequena[1].onclick=function(){
       imgproducto.src=imgpequena[1].src;
   }
   imgpequena[2].onclick=function(){
       imgproducto.src=imgpequena[2].src;
   }
   imgpequena[3].onclick=function(){
       imgproducto.src=imgpequena[3].src;
   }
</script>

