<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head') %>
<!-- Include Head -->

<!-- Header -->
<%- include('partials/header') %>
<!-- /Header -->
<body>
    <div class="overlay">
        <form>
           <!--   con = Container  for items in the form-->
           <div class="con">
           <!--     Start  header Content  -->
           <div class="head-form">
              <h2>Crear Cuenta</h2>
              <!--     A welcome message or an explanation of the login form -->
              <p>Registrate en DigitalHouseGames</p>
           </div>
           <!--     End  header Content  -->
           <br>
           <div class="field-set">
               <!--   Profile Picture -->
                <div class="profilepic">
                    <label for="avatar">Elige una foto de perfil:</label>
                    <br />
                    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
                    <br />
                    <br />
                </div>
                <!--   User names -->
                <span class="input-item">
                    <label for="names">Nombre: </label>
                </span>
                <!--   Names Input-->
                <input class="form-input" id="txt-input" name="names" type="text" placeholder="nombre(s)" required>
                <br>

                <!--   surname -->
                <span class="input-item">
                    <label for="sourname">Apellido: </label>
                </span>
                <!--   Names Input-->
                <input class="form-input" id="txt-input" name="surname" type="text" placeholder="apellidos" required>
                <br>

                <!--  email -->
                <span class="input-item">
                    <label for="email">Email:</label>
                 </span>
                <!--   user name Input-->
                 <input class="form-input" id="txt-input" type="email" name="email" placeholder="email" required>
              <br>

                <!--   user name -->
                <span class="input-item">
                    <label for="username">Nombre de usuario:</label>
                 </span>
                <!--   user name Input-->
                 <input class="form-input" id="txt-input" type="text" name="username" placeholder="@usuario" required>
              <br>

                <!-- Date -->
                <span class="input-item">
                    <label for="dob">Fecha de nacimiento:</label>
                </span>
                <!--   user name Input-->
                <input class="form-input" id="dob" type="date" name="dob">
            <br>

                <!--   Password -->         
                <span class="input-item">
                    <label for="password">Contraseña:</label>
                </span>
                <!--   Password Input-->
                <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>
                <br>

                <!--  Confirm Password -->         
                <span class="input-item">
                    <label for="cpassword">Confirmar Contraseña:</label>
                </span>
                <!--   Password Input-->
                <input class="form-input" type="password" placeholder="Confirm Password" id="cpwd"  name="cpassword" required>
                <br>
                <br>

                <p>Perfil del usuario:</p>
                <!--  Selector Comprador--> 
                    <label for="comprador">Comprador</label>
                <!--   Selector Comprador Input-->
                <input type="radio" id="comprador" name="profile" value="comprador" checked>
                <br>

                <!--  Selector Vendedor--> 
                
                    <label for="vendedor">Vendedor</label>

                <!--   Selector Comprador Input-->
                <input type="radio" id="vendedor" name="profile" value="vendedor">
                <br>
        <!--        buttons -->
                <div class="buttons-register">
                    <button class="register-button"> Sign Up </button>
                </div>
           </div>
          <!-- End Form -->
        </form>
        </div>
</body>

  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
</html>